<html>
<head>
    <meta charset="UTF-8">
    <title>La Faltriquera</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap" rel="stylesheet">
</head>
<body>
    <div id="banner">
        <p id="tituloBanner">La Faltriquera Elda</p>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="#">Musica</a></li>
            <li><a href="#">Apuntes</a></li>
            <li><a href="#">Jotas</a></li>
            <li><a href="#">Videos Bailes</a></li>
            <li><a href="#">Videos Tutoriales</a></li>
        </ul>
    </nav>
    <div id="mainContent">
        <h2>¿Quienes somos?</h2>
    </div>
</body>
</html>